<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="database.db_fifth_topic.bank.mybatis.mappers.AccountTypeMapper">

    <!-- Create/Insert a new customer into the table -->
    <insert id="create" parameterType="database.db_fifth_topic.bank.mybatis.model.AccountType"
            useGeneratedKeys="true" keyProperty="account_type_id">
        INSERT INTO AccountType (account_type_name, interest_rate)
        VALUES (
        #{account_type_name},
        #{interest_rate}
        )
    </insert>

    <!-- Read/Select an account type by their ID -->
    <select id="findById" parameterType="Integer" resultMap="accountTypeGet">
        SELECT account_type_id, account_type_name, interest_rate
        FROM AccountType WHERE account_type_id = #{account_type_id}
    </select>

    <!-- Select COUNT(*) FROM AccountType -->
    <select id="selectCount">
        SELECT COUNT(*) FROM AccountType;
    </select>

    <update id="setSafeUpdates" parameterType="Integer">
        SET SQL_SAFE_UPDATES = #{n};
    </update>

    <update id="resetAutoIncrement">
        ALTER TABLE AccountType AUTO_INCREMENT = 1;
    </update>

    <!--Delete an account type by their ID -->
    <delete id = "deleteAccountType">
        DELETE from AccountType WHERE account_type_id = #{account_type_id};
    </delete>

    <!--Delete all account types -->
    <delete id = "deleteAllAccountTypes">
        DELETE from AccountType;
    </delete>

    <!-- Map result to the model -->
    <resultMap type="database.db_fifth_topic.bank.mybatis.model.AccountType" id="accountTypeGet" autoMapping="false">
        <id column="account_type_id" property="account_type_id"/>
        <result column="account_type_name" property="account_type_name"/>
        <result column="interest_rate" property="interest_rate"/>
    </resultMap>
</mapper>