<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="database.db_fifth_topic.bank.mybatis.mappers.CustomerMapper">

    <!-- Create/Insert a new customer into the users table -->
    <insert id="create" parameterType="database.db_fifth_topic.bank.mybatis.model.Customer"
            useGeneratedKeys="true" keyProperty="customer_id">
        INSERT INTO Customer (user_name, password, first_name, last_name, phone, email, registration_date)
        VALUES (
        #{user_name},
        #{password},
        #{first_name},
        #{last_name},
        #{phone},
        #{email},
        #{registration_date}
        )
    </insert>

    <!-- Read/Select a customer by their ID -->
    <select id="findById" parameterType="Integer" resultMap="customerGet">
        SELECT customer_id, user_name, password, first_name, last_name, phone, email, registration_date
        FROM Customer WHERE customer_id = #{customer_id}
    </select>

    <!-- Select COUNT(*) FROM Customer -->
    <select id="selectCount">
        SELECT COUNT(*) FROM Customer;
    </select>

    <!--Update a customer's user_name by their ID -->
    <update id="updateUserName">
        UPDATE Customer SET user_name = #{a} WHERE customer_id = #{b};
    </update>

    <!--Update a customer's password by their ID -->
    <update id="updatePassword">
        UPDATE Customer SET password = #{a} WHERE customer_id = #{b};
    </update>

    <!--Update a customer's phone by their ID -->
    <update id="updatePhone">
        UPDATE Customer SET phone = #{a} WHERE customer_id = #{b};
    </update>

    <!--Update a customer's email by their ID -->
    <update id="updateEmail">
        UPDATE Customer SET email = #{a} WHERE customer_id = #{b};
    </update>

    <update id="setSafeUpdates" parameterType="Integer">
        SET SQL_SAFE_UPDATES = #{n};
    </update>

    <update id="resetAutoIncrement">
        ALTER TABLE Customer AUTO_INCREMENT = 1;
    </update>

    <!--Delete a customer by their ID -->
    <delete id = "deleteCustomer">
        DELETE from Customer WHERE customer_id = #{customer_id};
    </delete>

    <!--Delete all customers -->
    <delete id = "deleteAllCustomers">
        DELETE from Customer;
    </delete>

    <!-- Map result to User model -->
    <resultMap type="database.db_fifth_topic.bank.mybatis.model.Customer" id="customerGet" autoMapping="false">
        <id column="customer_id" property="customer_id"/>
        <result column="user_name" property="user_name"/>
        <result column="password" property="password"/>
        <result column="first_name" property="first_name"/>
        <result column="last_name" property="last_name"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="registration_date" property="registration_date"/>
    </resultMap>
</mapper>